<form [formGroup]="formChangePassword" (ngSubmit)="onChangePassword()">
    <div class="form-group row">
        <label class="col-4 col-form-label">Mật khẩu cũ</label>
        <div class="col-8">
            <input type="password" class="form-control" placeholder="" formControlName="oldPassword" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Mật khẩu mới</label>
        <div class="col-8">
            <input type="password" class="form-control" formControlName="newPassword" placeholder="" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Nhập lại mật khẩu</label>
        <div class="col-8">
            <input type="password" class="form-control" formControlName="confirmNewPassword" placeholder="" />
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn_custom btn_df mr-2" (click)="closeModal()">{{ 'BTN.CLOSE' | translate }}</button>
        <button type="submit" class="btn_custom btn_add">{{ 'BTN.SAVE' | translate }}</button>
    </div>
</form>
