<form [formGroup]="form" (ngSubmit)="updatePassword()">
    <div class="form-group row">
        <label class="col-4 col-form-label">{{ 'LB.NEW_PASSWORD' | translate }}</label>
        <div class="col-8">
            <input type="password" class="form-control" formControlName="newPassword" placeholder="" />
            <app-field-error [control]="form.get('newPassword')"></app-field-error>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-4 col-form-label">{{ 'LB.CONFIRM_PASSWORD' | translate }}</label>
        <div class="col-8">
            <input type="password" class="form-control" formControlName="confirmNewPassword" placeholder="" />
            <app-field-error [control]="form.get('confirmNewPassword')"></app-field-error>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn_custom btn_df mr-1" (click)="closeModal()">{{ 'BTN.CLOSE' | translate }}</button>
        <button type="submit" class="btn_custom btn_add">{{ 'BTN.SAVE' | translate }}</button>
    </div>
</form>
